In [1]:
import pandas as pd
import numpy as np

In [4]:
datas = pd.date_range('20200101', periods=6)

In [9]:
df = pd.DataFrame(np.random.randn(6,4), index=datas, columns=['A','B','C','D'])

In [10]:
df2 = pd.DataFrame({
    'A': 1,
    'B': pd.Timestamp('20230101'),
    'C': pd.Series(1, index=list(range(4)), dtype="float32"),
    'D': np.array([3] * 4, dtype="int32"),
    'E': pd.Categorical(["teste", "Train","teste", "Train"]),
    'F': "Python"
})

In [12]:
df2

   A          B    C  D      E       F
0  1 2023-01-01  1.0  3  teste  Python
1  1 2023-01-01  1.0  3  Train  Python
2  1 2023-01-01  1.0  3  teste  Python
3  1 2023-01-01  1.0  3  Train  Python

In [14]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [15]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0